@import url('https://fonts.googleapis.com/css?family=Special+Elite');

#frontPage{
    font-family: 'Special Elite', cursive;
    font-size:  75px;
    font-weight:  bold;
}
#savedPage{
    font-family: 'Special Elite', cursive;
    font-size:  75px;
    font-weight:  bold;
}
body {
    padding: 50px;
}

